:root{
    --primary: #f4f4f4;
    --secondary: #333366;
    --terciary: rgb(34, 34, 34);
    /* --secondary: #64090e; */
    --terciary:#bed5dc;
    --text-color: #fff;
    --text-secondary: #000;
    --text-terciary: #5d5d5d;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: var(--secondary);
    padding-inline: 16px;
    color: var(--terciary);
    font-weight: bold;
}


.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
    cursor: pointer;
}

.nav-list a{
    font-size: 18px;
    padding-block: 16px;
    text-decoration: none;
    color: var(--terciary);
}
.nav-list a:hover{
   color: #fff;
}


.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    display: none;
}

.hamburguer::before,
.hamburguer::after{
    content:"";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
/*Event form*/


/*Banner evento*/
.container {
    position: relative; /* Definindo position como relative */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Ajustando a posição vertical do conteúdo */
    width: 100%;
    height: 260vh; /* Alterado para 260vh */
    background-image: url('../img/trabaprev_01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .btn-01 {
    position: absolute; /* Definindo position como absolute */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    padding: 10px 20px;
    background-color: #c23f3f;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 16px;
    display: none;
  }


.btn{
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    width: 120%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;/*aprece uma mãozinha no cursor no lugar da seta*/
    opacity: 0.8;
    font-weight: bold;

}
.btn:hover{
    opacity: 1;
}
/*About*/
.about {
    background-color: var(--terciary);
    color: var(--secondary);
    text-align: center;
    padding: 3em;
    font-size: 20px;
    line-height: 1.5em;
}


/*Schedule Section*/
#schedule{
    background-color: var(--secondary);
    padding-bottom: 5%;
}
#schedule h2{
    background-color: var(--secondary);
    font-size: 3em;
    text-align: center;
    padding: 1em;
    font-weight: 500;
    color: var(--primary);
}
#schedule h3{
    background-color: var(--secondary);
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: 500;
    color: var(--primary);
}

.schedules{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 100%;
    margin: 0 auto;
}

.schedule{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    line-height:1.5em ;
    color: var(--primary);
}

.schedule .schedule-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position:center;
    margin-bottom: 1em;;
}

#schedule-1{
    background-image: url(../img/adv_m\ \(3\).jpg);
}
#schedule-2{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-3{
    background-image: url(../img/adv89.jpg);
}
/* #schedule-4{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-5{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-6{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-7{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-8{
    background-image: url(../img/adv_m\ \(5\).jpg);
}
#schedule-9{
    background-image: url(../img/adv_m\ \(5\).jpg);
} */

#btn-programacao{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-programacao{
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    width:100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;/*aprece uma mãozinha no cursor no lugar da seta*/
    opacity: 0.8;
    font-weight: bold;
}
.btn-programacao:hover{
    opacity: 1;
}

/*Events Location*/
#location{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )),
    url("../img/esmape.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--primary);
    /*margin-bottom: 3em;   */
}

#address, #about-location{
    max-width: 30%;
}

#address{
    display: flex;
}

#address i{
    color: var(--primary);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-details{
    text-align: center;
    font-size: 1.3em;
}

#about-location h3{
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-location p{
    line-height: 1.5em;
}

/*Guests*/
#btn-palestrantes{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-palestrantes{
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    width:100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;/*aprece uma mãozinha no cursor no lugar da seta*/
    opacity: 0.8;
    font-weight: bold;
}
.btn-palestrantes:hover{
    opacity: 1;
}


#guest{
    background-color: var(--secondary);
    text-decoration: none;
}
#guest h3{
    background-color: var(--secondary);
    font-size: 2em;
    text-align: center;
    padding: 1em;
    font-weight: 500;
    color: var(--primary);
}

.guests{
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em;
}

.guest{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22%;
    color: var(--primary);
}

.guest .guest-img{
    width: 250px;
    height: 375px;
    background-size: cover;
    background-position:center;
    margin-bottom: 1em;;
}

#guest-1{
    background-image: url(../img/Pamplona.jpg);
}
#guest-2{
    background-image: url(../img/Antonio-fabricio.jpeg);
}
#guest-3{
    background-image: url(../img/Rafaela\ Sionek.jpeg);
}
#guest-4{
    background-image: url(../img/Ricardo\ Calcini.jpg);
}



/*Call to action section*/
#cta{
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7 )),
    url("../img/adv01.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

#cta h3{
    margin-bottom: 1.2em;
    color: var(--primary);
    font-size: 2em;
    font-weight: 500px;
}

#cta .btn{
    width:150%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
}
/*Apoiadores*/
#sponsors h3, h4 {
    background-color: var(--secondary);
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    color: var(--primary);
}
#sponsors h4 {

    font-size: 1.5em;

}
.sponsors{
    padding: 4em;
    text-align: center;
    background-color: var(--terciary);
}

#sponsors img{
    width: 200px;
    height: 200px;
    padding: 1em;

}
/*Patrocinadores Premium*/
#sponsors-2 h3{
    background-color: var(--secondary);
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    color: var(--primary);
}
#sponsors-2 h4 {

    font-size: 2em;

}
.sponsors-2{
    padding: 4em;
    text-align: center;
    background-color: var(--terciary);
}

.comissao-oab-img{
    width: 150px;
    height: 150px;
    padding: 1em;

}
.varjal-img{
    width: 200px;
    height: 88px;
    padding: 1em;
}
.galamba-img{
    width: 200px;
    height: 113px;
    padding: 1em;
}
.nissan-img{
    width: 200px;
    height: 113px;
    padding: 1em;
}
.cabral-logo{
    width: 150px;
    height: 150px;
    padding: 1em;
}

/*Patrocinadores*/
#sponsors-3 h3{
    background-color: var(--secondary);
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    color: var(--primary);
}
#sponsors-3 h4 {

    font-size: 2em;

}
.sponsors-3{
    padding: 4em;
    text-align: center;
    background-color: var(--terciary);
}

.about-artigos {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    padding: 3em;
    font-size: 20px;
    line-height: 1.5em;
}
.about-artigos h2 {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    padding: 1em;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.5em;
}

.about-artigos h3 {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    padding: 3em;
    font-size: 20px;
    line-height: 1.5em;
}
#btn-artigos{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-artigos{
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    width:100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
}
.btn-programacao:hover{
    opacity: 1;
}

#footer{
    text-align: center;
    background: rgb(34, 34, 34);
    color: var(--primary);
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3{
    font-size: 1.8em;
    margin-bottom: .5em;
    margin-top: 2em;
}

#footer p:nth-child(2){
    margin-bottom: 1em;
    font-size: 1.2em;
}
#footer span{
    font-weight: bold;
}
.wpp{
    padding: 0.5em;
    font-size: 4em;
    color: green;
}

/*Mobile*/

@media (max-width: 790px){
.btn{
    opacity: 1;
}
.hamburguer{
    display: block;
    z-index: 3;
    padding-bottom: 25px;
}
.nav-list{
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
    background:var(--secondary);
    clip-path: circle(100px at 10% -65px);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    z-index: 1;
}
.nav.active .nav-list{
    clip-path: circle(1500px at 10% -70%);
    pointer-events: all;
}
.nav-lis a{
    font-size: 24px;
    opacity: 0;
}
.nav.active .nav-list a{
    opacity: 1;
}
.nav.active .hamburguer{
    position: fixed;
    top: 26px ;
    right: 16px;
    border-top-color: transparent;
}
.nav.active .hamburguer::before{
    transform: rotate(135deg);

}
.nav.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;

}
.nav-list li:nth-child(1) a{
    transition: 0.5s 0.2s;

}
.nav-list li:nth-child(2) a{
    transition: 0.5s 0.4s;
}
.nav-list li:nth-child(3) a{
    transition: 0.5s 0.6s;
}

/*Event-description*/
.container {
    height: 100vh; 
    width: 100%;
    background-size: contain; 
    background-color: var(--secondary);
  }
.btn-01 {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    top: 50px; 
    right:200px; 
  }


 .about {
    display: none;
 }
 #subscription-form{
    max-width: 70%;
    margin-bottom: 2em;
 }

 /*Shcedule section*/
 #schedule h2{
    padding-top: 15%;
    font-size: 2em;
}
 .schedules{
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
 }
 .schedule{
    max-width: 100%;
    margin-bottom: 2em;
 }

 /*Event Location*/
 #location{
    flex-direction: column;
    height: auto;

    text-align: center;
    padding: 2em 0;
 }
 #address{
    order: 2; 
    flex-direction: column;
    max-width: 90%;
 }
 #address i{
    margin: .3em 0;
 }
 #about-location{
    order: 1;
    max-width: 90%;
 }
 #about-location h3{
    margin-bottom: 0;
 }
 #about-location p{
    display: none;
 }
 
 /*Guests section*/
 .guests{
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
 }
 .guest{
    max-width: 100%;
    margin-bottom: 2em;
}
/*Call to Action Section*/
#cta h3{
    text-align: center;
}
#cta .btn{
    width: 120%;
}
/*Footer*/
#footer{
    padding-bottom: 1em;
}
#footer h3{
    padding-right: .5em;
}

#footer .paragrafo-1, .paragrafo-2{
    max-width: 95%
}
}

@media (max-width: 490px){
    .menu-active {
        overflow: hidden;
      }
    .btn{
        opacity: 1;
    }
    
    .hamburguer{
        display: block;
        z-index: 3;
    }
    .nav-list{
        position:absolute;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        margin-top: 5px;
        background:var(--secondary);
        clip-path: circle(100px at 10% -65px);
        transition: 1s ease-out;

        flex-direction:column;
        justify-content:space-evenly;
        align-items: center;    
        margin: 0; 
        gap: 0;
        pointer-events: none;
        z-index: 1;
        overflow-y: auto;
    }
    .nav.active .nav-list{
        clip-path: circle(1500px at 10% -70%);
        pointer-events: all;
    }
    .nav-lis a{
        font-size: 24px;
        font-size: 15px;
        opacity: 0;
    }
    .nav.active .nav-list a{
        opacity: 1;
    }
    .nav.active .hamburguer{
        position: fixed;
        top: 26px ;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before{
        transform: rotate(135deg);

    }
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;

    }
    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s;

    }
    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }


    /*Event-description*/
    .container {
        height: 100vh; 
        width: 100%;
        background-size: contain; 
        background-color: var(--secondary);
        margin-top: -18%;
        margin-bottom: -15%;
      }
    .btn-01 {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        top: 70px; 
        right:20px;
      }


     .about {
        display: none;
     }
     #subscription-form{
        max-width: 70%;
        margin-bottom: 2em;
     }

     /*Shcedule section*/
     .schedules{
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
     }
     .schedule{
        max-width: 100%;
        margin-bottom: 2em;
     }

     /*Event Location*/
     #location{
        flex-direction: column;
        height: auto;

        text-align: center;
        padding: 2em 0;
     }
     #address{
        order: 2; 
        flex-direction: column;
        max-width: 90%;
     }
     #address i{
        margin: .3em 0;
     }
     #about-location{
        order: 1;
        max-width: 90%;
     }
     #about-location h3{
        margin-bottom: 0;
     }
     #about-location p{
        display: none;
     }

     /*Guests section*/
     .guests{
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
     }
     .guest{
        max-width: 100%;
        margin-bottom: 2em;
    }
    /*Call to Action Section*/
    #cta h3{
        text-align: center;
    }
    #cta .btn{
        width: 120%;
    }
    /*Artigos juridicos*/
    #btn-artigos{
        padding-top:10% ;
        
    }
    .about-artigos h3 {
        display: none;
    }
    
    /*Footer*/
    #footer{
        padding-bottom: 1em;
    }
    #footer h3{
        padding-right: .5em;
    }

    #footer .paragrafo-1, .paragrafo-2{
        max-width: 95%
    }
    }

    h3{
        font-size: 10px;
    }

    #guest h2{
        font-size: 40px;
    }

    .sponsors-2 h3{
        font-size: 25px;
    }
    

    
 